---
const classes = 'text-xl lowercase no-underline bg-transparent'
const home = Astro.url.pathname === '/'
---

<nav class='flex w-full sm:justify-center flex-wrap flex-row gap-8'>
	{
		!home && (
			<a href='/' class={classes}>
				Home
			</a>
		)
	}

	<a href='/newsletter' class={classes}>Newsletter</a>
	<a href='/blog' class={classes}>Blog</a>
	<a href='/arabic' class={classes} data-lang='ar'>بالعربية</a>
	<a href='/notes' class={classes}>Notes</a>
	<a href='/sponsor' class={classes}>Support</a>
	<a href='/uses' class={classes}>/uses</a>

	<a
		class={classes}
		href='https://flowcv.com/resume/uapuv7emin'
		rel='noreferrer noopener'
		target='_blank'
	>
		resume
	</a>
</nav>
